.learnMore__root {
  .learnMore__getToKnowUs {
    display: flex;
    align-items: center;
    gap: 1%;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 5%;
    position: relative;

    p {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700px;
      margin: 0;
    }
    @media (min-width: 992px) {
      p {
        font-size: 72px;
        line-height: 60px;
        font-weight: 700px;
        margin: 0;
      }
      img {
        max-width: 84.4px;
        height: 46.59px;
      }
      .hand {
        width: 202px;
        height: 93.6px;
        position: absolute;
        left: 20%;
      }
    }
  }
  section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1106px;
    width: 100%;
    min-width: 500px;
    max-height: 652px;
    background: rgba(135, 190, 228, 0.1);
    border-radius: 10px;

    p {
      font-weight: 400;
      font-size: 32px;
      line-height: 80px;
      // padding: 10% 10% 10% 10%;
    }
  }
}
