@import 'src/base';
@media (min-width: 280px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5% 0 5%;

    .header-navLink {
      text-decoration: none;
      font-family: 700;
      font-size: 18px;
      color: #000000;
    }

    .header-btn {
      display: flex;
      .header-btn__signUp,
      .header-btn__signIn {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .header-btn {
    display: flex;
    gap: 10px;
    .header-btn__signUp {
      display: block !important ;
      @include button(
        $backgroundColor: #000000,
        $color: #ffffff,
        $hoverColor: #025ce4,
        $width: 156px,
        $border: none
      );
    }
    .header-btn__signIn {
      display: block !important ;
      @include button(
        $backgroundColor: #ffffff,
        $color: #000000,
        $hoverColor: #ffffff,
        $width: 126px,
        $border: 1px solid #000000
      );
    }
  }
  .header-btn__toggle {
    display: none;
  }
}
