@import 'src/base';

@media (min-width: 0px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5% 0 5%;
    @media (min-width: 0px) and (max-width: 768px) {
      margin-top: 7%;
    }

    .header-navLink {
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
      color: #000000;
      z-index: 100;
    }

    .header-btn {
      display: flex;
      z-index: 100;
      .header-btn__signUp,
      .header-btn__signIn {
        display: none;
      }
    }

    .header__fullVH {
      margin: 0;
      padding: 0;
      background-color: #fff;
      width: 100%;
      position: fixed;
      top: 0px;
      left: 0;
      height: 100vh;
      z-index: 1;

      .header__fullVH_items {
        margin-top: 20%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .header__links {
          margin-bottom: 80px;
          p {
            margin: 0;
            text-align: center;
            font-weight: 700;
            font-size: 18px;
          }
        }
      }
    }

    .header__links__button {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      .header__links__button1 {
        @include button(
          $backgroundColor: #ffffff,
          $color: #000000,
          $hoverColor: #ffffff,
          $width: 298px,
          $border: 1px solid #000000
        );
      }
      .header__links__button2 {
        @include button(
          $backgroundColor: #000000,
          $color: #ffffff,
          $hoverColor: #025ce4,
          $width: 298px,
          $border: none
        );
      }
    }
  }
}

@media (min-width: 768px) {
  .header-btn {
    display: flex;
    gap: 10px;
    .header-btn__signUp {
      display: block !important ;
      @include button(
        $backgroundColor: #000000,
        $color: #ffffff,
        $hoverColor: #025ce4,
        $width: 156px,
        $border: none
      );
    }
    .header-btn__signIn {
      display: block !important ;
      @include button(
        $backgroundColor: #ffffff,
        $color: #000000,
        $hoverColor: #ffffff,
        $width: 126px,
        $border: 1px solid #000000
      );
    }
  }
  .header-btn__toggle {
    display: none;
  }
}
