.step1__root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
  @media (min-width: 992px) {
    display: block;
  }

  .step1__root__labels {
    width: 76%;
  }
  .step1__labels {
    label {
      font-size: 15px;
      font-weight: 400;
      @media (min-width: 992px) {
        font-size: 20px;
        font-weight: 700;
      }
    }
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 22px;
    .labels__textField {
      width: 100%;
      min-width: 300px;
    }
  }

  .step-1__button {
    width: 100%;
    height: 56px;
    background: #025ce4;
    border-radius: 10px;
    border: none;
    color: #fff;
    min-width: 300px;
    cursor: pointer;
    &:hover {
      background: #307aea;
    }
  }
}

.number-class {
  min-width: 100%;
}

.step1__root_p1 {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #8a8a8e;
  margin-left: 20px;
  margin-right: 20px;
  @media (min-width: 992px) {
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
