.footer-root {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  @media (min-width: 768px) {
    gap: 68px;
  }

  .footer-root__item {
    p {
      font-weight: 700;
      font-size: 20px;
      background-color: #dadada;
      border-radius: 20px;
      padding: 10px;
    }
  }
}

.footer-year {
  margin-top: 92px;
  text-align: center;
  color: #024bb9;
  font-weight: 400;
  font-size: 20px;
}

.footer-bns {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-top: 3%;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-bottom: 10px;
}
